<input type="text" ng-model="search" class="form-control" placeholder="Search">
<table class="table table-striped">
  <thead>
  <tr>
    <th>Project</th>
    <th>Description</th>
    <th><a href="#/new"><span class="glyphicon glyphicon-plus-sign"></span></a></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="project in projects | filter:search | orderBy:'name'">
    <td><a href="{{project.site}}" target="_blank">{{project.name}}</a></td>
    <td>{{project.description}}</td>
    <td>
      <a href="#/edit/{{project._id}}"><span class="glyphicon glyphicon-pencil"></span></a>
    </td>
  </tr>
  </tbody>
</table>